.row{
  width:100vw;
  height: 100vh;
  background-color: aliceblue;
}

mat-card{

  text-align: center;
    
}
#btn-primary{
    background-color: rgb(42, 165, 97);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

form {
  margin-top: 4cm;
  background: rgba( 255, 255, 255, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: coral;
  /* border: solid ; */
  width: 12cm;

  /* width: 400%; */

  /* max-width: 380px; */
  padding: 15px;
 margin-left: 10cm;
 justify-content: center;
} 