.navbar {
    background-color: #49224A;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .btn {
    background-color: #E2AA2E;
  }
  
  .prof {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-between;
    margin-top: 3rem;
  }
  
  span {
    color: #E2AA2E;
  }
  
  h5 {
    color: #49224A;
  }
  
  .info {
    margin-left: 10rem;
  }
  
  .bio {
    margin: auto;
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  #profile {
    font-size: 100px;
    color: #E2AA2E;
  }
  
  .p-3 {
    border-radius: 20px;
    color: #49224A;
    box-shadow: 2px 2px 2px #49224A;
  }
  
  .bi {
    padding: 1.5rem;
    border-radius: 20px;
    margin-left: 5rem;
    width: 70%;
    color: #49224A;
    box-shadow: 2px 2px 2px #49224A;
  }
  
  h3 {
    color: #E2AA2E;
  }
  
  .dropdown-menu {
    background-color: transparent;
  }
  
  .dropdown-menu li a {
    color: #49224A;
  }
  
  .btn-sec{
    background-color: #49224A;
    color: white;
    border: solid white 1px;
    
  }
  
  p {
      font-size: 20px;
      font-family: 'Krub', sans-serif;
  }
  
  h4 {
      font-size: 36px;
      font-family: 'Krub', sans-serif;
  }
  
  h5 {
      font-size: 28px;
      font-family: 'Krub', sans-serif;
  }
  